@model Online_Quiz.Models.Paper

@{
    ViewData["Title"] = "Join";
    
    var count = 0;
}

<h1>Join</h1>

<h4>Paper</h4>
<hr />
@if (ViewBag.exist == null)
{
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Join">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="PaperCode" class="control-label"></label>
                    <input asp-for="PaperCode" class="form-control" />
                    <span asp-validation-for="PaperCode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
}
else
{

    <form asp-action="JoinQuiz">
    <input type="hidden" asp-for="@Model.PaperCode" />
    <div class="card">
       
        @for (var i = 0; i < Model.Questions.Count(); i++)
        {

          <div class="card-header">
                <div class="row">
                    <div class="col-1"><strong><h3>{@i}+1</h3></strong></div>
                    <div class="col-11">
                        <input type="text" asp-for="@Model.Questions[i].QuestionName"  class="onlyquestion form-control"  />

                        <div class="options">
                            @for(var j=0;j<Model.Questions[i].Options.Count();j++)
                            {
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-1 ">
                                            <input type="radio" asp-for="@Model.Questions[i].Options[j].Correct" class="custom-radio" style="background-color:green" value="true">
                                        </div>
                                        <div class="col-sm-11">
                                            <input type="text" asp-for="@Model.Questions[i].Options[j].OptionName" class="form-control">
                                        </div>
                                    </div>

                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
   
        <button class="btn btn-primary" id="Join" >submit Answer</button>
    </form>

}

@section Scripts {
    <script>
        $(document).ready(function () {

           

        }
    </script>

}

